html, 
body {
    font-family: 'Slabo 27px', serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}

body > #root > div {
    height: fit-content;
}

.page-header {
    padding: 50px 0 10px 0;
    margin-left: 50px;
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.content-with-margin {
    margin: 100px 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    form {
        margin: 100px 160px 0 0;
        display: flex;
        flex-direction: column;
        align-self: center;
        
        .label-input {
            display: block;
            padding: 6px;

            label {
                display: inline-block;
                font-size: 20px;
                width: 160px;
                text-align: right;
            }
    
            input {
                display: inline-block;
                width: 200px;
                height: 20px;
                margin: 10px;
                padding: 3px;
            }
        }

        button {
            font-weight: 550;
            margin: 15px 0 0 160px;
            align-self: center;
            padding: 8px;
            cursor: pointer;
            background-color: #ccc;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: none;
        }
    }

    .data-container {
        align-items: center;
        margin: 0 60px 0 60px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        width: calc(100% - 120px);
    
        .data-box {
            padding: 30px;
        }
    }
}

.content {
    margin: 100px 0 0 0;

    .page-header {
        margin-left: 100px;
    }
}