html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body > #root > div {
    height: 100vh;
}

.content-with-margin {
    height: calc(100% - 100px);
    margin-left: 20%;
    input {
        display: block;
    }
}

.content {
    height: calc(100% - 100px);
}