html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    font-family: 'Raleway', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600&display=swap');
    a {
        text-decoration:none;
    }
}

body > #root > div {
    height: fit-content;
}

.page-header {
    padding: 50px 0 10px 0;
    margin-left: 50px;
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;

    .label-input {
        display: block;
        margin: 10px;
        padding: 6px;

        label {
            display: inline-block;
            font-size: 20px;
            width: 160px;
            text-align: right;
        }

        input, select {
            display: inline-block;
            width: 200px;
            margin-left: 20px;
        }

        select { width: 200px; height: 30px; }

        input { width: 194px; height: 24px; }
    }

    button {
        align-self: center;
    }
}

.content-with-margin {
    .status-info {
        margin-top: 60px;
        align-self: center;
        font-weight: 700;
        font-size: 30px;
    }

    .logged-as {
        margin: 60px 0 0 50px;
        font-weight: 500;
        font-size: 27px;
    }

    margin: 100px 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    form {
        margin: 60px 160px 0 0;
    }

    .data-container {
        align-items: center;
        margin: 0 60px 0 60px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        width: calc(100% - 120px);

        .data-box {
            padding: 30px;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 0 0 0;

    .page-header {
        margin-left: 100px;
    }

    .table {
        align-self: center;
        margin-top: 60px;
    }

    form {
        margin: 60px auto 0 auto;
    }

    h1 {
        align-self: center;
    }
}