.header {
    width: 100%;
    top: 0;
    height: 100px;
    background-color: #09d;

    .logo {
        display: inline-block;
        padding: 10px;
        font-size: 50px;
        margin: 10px 0 0 50px;
        color: #306;
    }

    .button-wrapper {
        float: right;
        height: 100%;
        margin-right: 10px;

        button {
            margin: 0 10px 0 10px;
            width: 100px;
            height: 60px;
            font-size: 17px;
            color: #fff;
            background-color: #05d;
            border: none;
            cursor: pointer;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}