.header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    background-color: #0a97b0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .logo {
        display: inline-block;
        padding: 10px;
        font-size: 60px;
        margin: 10px 0 0 50px;
        color: #000;
    }

    .button-wrapper {
        display: flex;
        float: right;
        height: 100%;
        margin-right: 10px;
        
        button {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
            margin: 0 10px 0 10px;
            width: 120px;
            height: 70px;
            font-size: 17px;
            color: #fff;
            background-color: #1b6ca8;
            border: none;
            cursor: pointer;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}